.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #b6e6f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-left img,
.navbar-right img {
  height: 80px;
  width: auto;
}
